.recipe {
	min-height: 100vh;
	background-color: var(--grayColor100);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	&__info {
		width: 80%;
		display: flex;
		justify-content: space-between;
		padding: 2rem;
		background-color: #fff;
		column-gap: 2rem;
		&__summary {
			width: 68%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding-top: 1.2rem;
			&__title {
				width: 100%;
				margin-bottom: 1rem;
				padding-bottom: 0.5rem;
				border-bottom: 2px solid var(--grayColor100);
				font-size: 2rem;
				font-weight: 700;
				color: var(--darkRedColor);
			}
			&__info {
				display: flex;
				column-gap: 2rem;
				flex-grow: 1;
				&__status {
					display: flex;
					flex-direction: column;
					&__icons {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						div {
							li {
								display: flex;
								align-items: center;
								column-gap: 0.5rem;
								margin-bottom: 0.6rem;
								span:first-child {
									display: flex;
									align-items: center;
									justify-content: center;
									width: 1.8rem;
									height: 1.8rem;
									border-radius: 50%;
									background-color: var(--grayColor100);
									i {
										font-size: 0.9rem;
										color: var(--redColor);
									}
								}
								span:last-child {
									font-size: 0.8rem;
								}
							}
						}
					}
					&__badges {
						display: flex;
						column-gap: 0.5rem;
						margin-top: 0.5rem;
						li {
							padding: 0.2rem 0.4rem;
							background-color: var(--grayColor50);
							font-size: 0.7rem;
							font-weight: 500;
							color: var(--grayColor400);
							border: 2px solid var(--grayColor100);
						}
					}
					&__calories-breakdown {
						display: flex;
						align-items: center;
						column-gap: 2rem;
						margin-top: 1rem;
						&__diagram {
							display: flex;
							width: 50%;
							height: 0.8rem;
							li {
								display: flex;
								flex-direction: column;
								font-size: 0.8rem;
								&:first-child {
									background-color: var(--brownColor);
								}
								&:nth-child(2) {
									background-color: var(--redColor);
								}
								&:last-child {
									background-color: var(--greenColor);
								}
							}
						}
						&__legend {
							display: flex;
							justify-content: space-between;
							flex-grow: 1;
							li {
								display: flex;
								align-items: center;
								column-gap: 0.3rem;
								font-size: 0.85rem;
								font-weight: 500;
								&::before {
									content: "";
									display: block;
									position: relative;
									width: 0.8rem;
									height: 0.8rem;
								}
								&:first-child::before {
									background-color: var(--brownColor);
								}
								&:nth-child(2)::before {
									background-color: var(--redColor);
								}
								&:last-child::before {
									background-color: var(--greenColor);
								}
								span {
									&:first-child {
										color: var(--grayColor400);
									}
									&:last-child {
										color: var(--grayColor300);
									}
								}
							}
						}
					}
					p {
						margin: auto 0;
						text-align: justify;
						a {
							text-decoration: underline;
							&:hover {
								color: var(--grayColor400);
							}
						}
					}
				}
				&__ingredients {
					min-width: 12.5rem;
					h2 {
						margin-bottom: 1.6rem;
						color: var(--redColor);
					}
					ul {
						display: flex;
						flex-direction: column;
						row-gap: 0.4rem;
						li {
							display: flex;
							justify-content: space-between;
							font-size: 0.9rem;
							background-color: var(--grayColor50);
							border-bottom: 2px solid var(--grayColor100);
							h4 {
								color: var(--grayColor400);
							}
							div {
								span {
									color: var(--grayColor300);
									&:first-child {
										margin-right: 0.2rem;
										font-weight: 500;
									}
								}
							}
						}
					}
				}
			}
			button {
				margin-top: auto;
				padding: 0.4rem 1rem;
				background-color: transparent;
				border: 2px solid var(--redColor);
				border-radius: 0;
				outline: none;
				transition: 200ms;
				cursor: pointer;
				text-transform: capitalize;
				&:hover {
					border-color: var(--darkRedColor);
				}
				&:focus-within {
					box-shadow: 0 0 0 2px var(--redColor);
				}
			}
		}
		img {
			width: 30%;
			height: 33rem;
			object-fit: cover;
			overflow: hidden;
		}
	}
	&__instructions {
		width: 80%;
		padding: 2rem;
		padding-top: 0;
		background-color: #fff;
		&__title {
			text-align: center;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 35%;
				height: 2px;
				width: 100%;
				background-color: var(--redColor);
			}
			h2 {
				position: relative;
				z-index: 1;
				color: var(--darkRedColor);
				background-color: #fff;
				cursor: pointer;
			}
			i {
				color: var(--grayColor300);
				font-size: 1.2rem;
				cursor: pointer;
				transition: 500ms;
			}
			.move-up {
				transform: rotate(180deg);
			}
		}
		&__steps {
			display: flex;
			flex-direction: column;
			row-gap: 1rem;
			padding: 1rem;
			max-height: 0;
			transition: 1s;
			overflow: hidden;
			li {
				background: var(--grayColor50);
				padding: 1rem;
				display: flex;
				column-gap: 0.5rem;
				border-bottom: 2px solid var(--grayColor100);
				span {
					color: var(--grayColor200);
				}
			}
		}
		.show-instruction {
			max-height: 200vh;
		}
	}
}
