:root {
	--grayColor100: #eae7dc;
	--grayColor200: #aaa9a6;
	--grayColor300: #8e8d8a;
	--grayColor400: #504f4f;
	--grayColor500: #333333;
	--brownColor: #d8c3a5;
	--greenColor: #4e9f3d;
	--redColor: #e98074;
	--darkRedColor: #e85a4f;
}
