.filters {
	width: 100%;
	max-height: 11rem;
	padding: 2rem calc((100% - 1200px) / 2);
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.95);
	transition: 700ms;
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1rem;
		button {
			display: flex;
			align-items: center;
			column-gap: 0.5rem;
			border: none;
			outline: none;
			background-color: transparent;
			span {
				&:first-child {
					font-size: 1rem;
				}
				&:last-child {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 1.6rem;
					height: 1.6rem;
					background-color: var(--redColor);
					i {
						color: var(--grayColor400);
					}
				}
			}
		}
	}
	form {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 3rem 1.5rem;
		transition: 200ms;
		& > div {
			width: 17.625rem;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			column-gap: 1.5rem;
			button {
				flex-grow: 1;
				padding: 0.5rem 0.8rem;
				outline: none;
				border: 2px solid var(--redColor);
				background-color: transparent;
				font-size: 1rem;
				font-weight: 500;
				&:last-child {
					background-color: var(--redColor);
					color: #fff;
				}
			}
		}
	}
}
.show-more-filters {
	max-height: 100vh;
	form {
		gap: 1.5rem;
	}
}
