.container {
	background-color: var(--grayColor100);
}
// todo: remove styles bellow to it's component
.query-foods {
	display: flex;
	justify-content: center;
	padding: 2rem 0;
	.container {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 1.5rem;
		max-width: 75rem;
		border-top: 1px solid rgb(230, 230, 230);
	}
	&__food-card {
		width: (75rem - 4.5rem)/4;
		padding: 0.5rem;
		background-color: #fff;

		&__image {
			position: relative;
			width: 100%;
			height: 200px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			span {
				position: absolute;
				top: 0;
				right: 0;
				transform: translate(-0.6rem, 0.6rem);
				width: 1.6rem;
				height: 1.6rem;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: rgba(255, 255, 255, 0.8);
				border: 2px solid var(--brownColor);
				i {
					color: var(--greenColor);
				}
			}
		}
		&__info {
			padding: 0.6rem 0;
			&__title {
				margin-bottom: 1rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 1.2rem;
				font-weight: 500;
				color: var(--darkRedColor);
			}
			&__more-info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				ul {
					display: flex;
					align-items: center;
					column-gap: 1.4rem;
					li {
						font-size: 0.9rem;
						i {
							margin-right: 0.3rem;
							color: var(--grayColor300);
						}
						span {
							font-size: 0.8rem;
							font-weight: 500;
							color: var(--grayColor300);
						}
					}
				}
			}
		}
	}
}
